@model RpgMvc.Models.UsuarioViewModel
@{
    Layout = "";
}
<h2>Alteração de Senha</h2>
@using (Html.BeginForm("AlterarSenha", "Usuarios", FormMethod.Post, new { id = "form" }))
{
    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control", @readonly =
            "readonly" }})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PasswordString, htmlAttributes: new { @class =
        "control-label col-md-2" })
            <div class="col-md-6">
                @Html.EditorFor(model => model.PasswordString, new { htmlAttributes = new {
            @class = "form-control" }})
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-6">
                <input onclick="AlterarSenha();" type="submit" value="Salvar" class="btn btnprimary" />
            </div>
        </div>
    </div>
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript">
    function AlterarSenha() {
        var url = "@Url.Action("AlterarSenha", "Usuarios")";
        var valdata = $("#form").serialize();
        $.ajax({
            url: url,
            type: "POST",
            dataType: 'json',
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            //data: { executorId: executorId },
            data: valdata,
            success: function (retorno) {
                alert("Senha Alterada com sucesso");
            }
        });
    } 
</script>
